// LOGO, MEDIDAS (NORMAL Y RETINA)

$big-ml-logo: "../../assets/images/Logo_ML@2x.png.png" !default;
$big-ml-logo-width: 106px !default;
$big-ml-logo-height: 72px !default;

$small-ml-logo: "../../assets/images/Logo_ML.png" !default;
$small-ml-logo-width: 53px !default;
$small-ml-logo-height: 36px !default;

// ICONOS, MEDIDAS (NORMAL Y RETINA)

$small-search-icon: "../../assets/images/ic_Search.png" !default;
$big-search-icon: "../../assets/images/ic_Search@2x.png.png" !default;

$small-ship-icon: "../../assets/images/ic_shipping.png" !default;
$big-ship-icon: "../../assets/images/ic_shipping@2x.png.png" !default;

$big-icon-width: 36px !default;
$big-icon-height: 36px !default;

$small-icon-width: 18px !default;
$small-icon-height: 18px !default;

// VARIABLES GLOBALES

$base-font-size: 18px !default;
$page-width: 60% !default;
$background-color: #eeeeee !default;
$text-color: #333333;

$input--background-color: #999999 !default;
$input--color: #333333;

// MEDIDAS MARGENES SEGUN SPECS

$heading-lateral-space: 32px !default;
$lateral-space: 16px !default;

// MEDIDAS IMAGENES SEGUN SPECS

$product-image-container--width: 180px !default;
$product-image-container--height: 180px !default;

$product-big-image-container--width: 680px !default;
