@import "../../variables";
@import "productDetails.elements";

.product-details {
    display: flex;
    justify-content: center;
    width: $page-width;
    background-color: white;
    margin-bottom: 5%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: $heading-lateral-space;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    width: $product-big-image-container--width;
    margin: 0;
    margin-right: 40px;
    padding-left: $heading-lateral-space;
}

.product-details-image {
    width: $product-big-image-container--width;
    height: auto;
    max-width: 100%;
}

.product-details-header {
    margin-right: $heading-lateral-space;
}

.product-details-footer {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

